body{
    font-family: 'Titillium Web', sans-serif;
    margin: 0px;
}
h1{
    font-size: 30px
}
p{
    color: cadetblue;
}
h2{
    font-size: 25px;
}

span{
    color: rgb(240, 31, 7);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 10px;
    padding-left: 60px;
    padding-bottom: 120px;
}
.half-width img{
    width: 100%;
    padding-left: 30px;
}
.link-button{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(45deg, rgb(254, 238, 6) , rgb(117, 253, 12));
    border-radius: 5px;
}
.top-banner{
    background-image: url("/image/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.dreamer{
    background-image: url("/image/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}