body{
    font-family: 'Titillium Web', sans-serif;
    margin: 0px;
}
h1{
    font-size: 30px
}
p{
    color: cadetblue;
}
h2{
    font-size: 25px;
}

span{
    color: rgb(240, 31, 7);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 20px;
    padding-left: 60px;
    
}
.half-width img{
    width: 100%;
    padding-left: 40px;
}
.link-button{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(45deg, rgb(254, 238, 6) , rgb(117, 253, 12));
    border-radius: 5px;
}
.top-banner{
    background-image: url("/image/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 400px;
    padding-bottom: 100px;
}
.dreamer{
    background-image: url("/image/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.single-experence{
    box-shadow: 20px 10px 40px rgb(238, 120, 120);
    border-radius: 5px;
    height: 80%;
    background-color:white;
}
    
.Experiance{
    background-image: url("/image/exp-bg.png");
    background-repeat: no-repeat;
    background-position:left; 
}
#full-stack{
    border-left: 5px solid;
    border-image:linear-gradient( 180deg, rgb(158, 234, 96), rgb(35, 5, 226));
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image:linear-gradient(180deg,cyan,blue);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 14px;
}